@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .public-modal {
    height: 100vh;
    width: 100vw;
  }

  @media (min-width: 990px) {
    .public-modal {
      height: auto;
      width: 690px;
    }
  }

  @media (max-height: 890px) and (min-width: 1000px) {
    .public-modal {
      height: 100vh;
      width: 100vw;
    }
  }
}

body {
  font-family: "Poppins", sans-serif;
}

nextjs-portal {
  display: none;
}

nav {
  scroll-behavior: smooth;
}

@layer utilities {
  .home-page-banner-subtitle {
    @apply uppercase text-skyAqua font-semibold w-full;
  }
  .home-page-banner-title {
    @apply font-bold text-zinc-800 text-[42px] 480:text-[64px] 1160:text-[80px] mb-10 leading-[50px] 480:leading-[75px];
  }
}

.dark-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #202020 inset !important;
  box-shadow: 0 0 0 1000px #202020 inset !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
  background-color: #202020 !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-family: "Rubik", sans-serif !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.admin-navigation::-webkit-scrollbar {
  height: 5px;
}

.admin-navigation::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.admin-navigation::-webkit-scrollbar-track {
  background: #212020;
}

::-webkit-scrollbar-thumb {
  background-color: #ffd600;
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: #eaeaeb;
}

.slick-slide > div > div {
  display: flex !important;
}

.slick-prev:before,
.slick-next:before,
.slick-arrow {
  display: none !important;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-list {
  margin: 0 -5px;
}

.slick-dots li.slick-active button:before {
  content: "" !important;
  background: #58cae3 !important;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25) !important;
  width: 9px !important;
  height: 9px !important;
  display: inline-block !important;
  margin: 0 6px !important;
  padding: 3px 0 !important;
  border-radius: 50px !important;
  border: none !important;
}
.slick-dots li button:before {
  content: "" !important;
  background: #58cae3 !important;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25) !important;
  width: 9px !important;
  height: 9px !important;
  display: inline-block !important;
  margin: 0 6px !important;
  padding: 3px 0 !important;
  border-radius: 50px !important;
  border: none !important;
}

.the-shape {
  width: 40px;
  aspect-ratio: 1;
  color: #3da3bf;
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}
.the-shape:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top
      left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l18 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

#adminselect::placeholder {
  color: #6e6e70;
}
#adminselect {
  color: white;
}

/* HTML: <div class="loader"></div> */
.apple-loader {
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(110 110 112/50%) 30%,
        #0000 0 70%,
        rgb(110 110 112/100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgb(110 110 112/25%) 30%,
        #0000 0 70%,
        rgb(110 110 112/75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.apple-loader::before,
.apple-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.apple-loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

/* globals.css */
@keyframes growBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-loader {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

video {
  width: 100%;
  height: auto;
}
